
.login-container {
  background-image: url('https://i.ibb.co/n1Bfm6X/blob-scene-haikei.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
